body {
  background-color: #5a5da6;
  padding: 30px;
  color: #101028;
  font-family: "Quicksand";
  color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.wi {
  display: block;
  text-align: center;
  font-size: 50px;
  margin: 20px;
}

p {
  text-align: center;
}

.description {
  text-align: center;
}

.switch {
  display: block;
  text-align: center;
}

/* Dropdown Button */
