body {
  background-color: #5a5da6;
  padding: 30px;
  color: #101028;
  font-family: "Quicksand";
  color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.wi {
  display: block;
  text-align: center;
  font-size: 50px;
  margin: 20px;
}

p {
  text-align: center;
}

.description {
  text-align: center;
}

.switch {
  display: block;
  text-align: center;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: #9b999b;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #7e7d7d;
}

label {
  font-size: 1.2rem;
  color: #f8f5f5;
}

/* Dropdown Button */
.container-dropdown {
  display: flex;
  justify-content: space-between;
}

#locality-dropdown {
  margin: 20px;
  max-width: 50%;
}

#locality-dropdown-city {
  margin: 20px;
  max-width: 50%;
}
